.subscribe-button{
        background-color:red;
        width:120px;
        height:40px;
        color:white;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        margin-right:10px ;
        transition: opacity 1s;
        vertical-align: top;
    }
    .subscribe-button:hover{
        opacity: 0.5;

    }
    .subscribe-button:active{
        background-color: white;
        color: black;
       
    }

    .join-button{
        background-color:white;
        color:blue;
        height:40px;
        width:80px;
        border-color: blue;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        margin-right:10px ;
        vertical-align: top;
    }
    .join-button:hover{
        background-color:blue ;
        color: white;
        
    }
    .join-button:active{
        opacity: 0.7;
    }

    .tweet-button{
        background-color: rgb(0, 128, 255);
        
        color:white;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-color: blue;
        border-radius: 50px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14;
        transition:box-shadow 1s ;
        vertical-align: top;
        
    }
    .tweet-button:hover{
        box-shadow: 6px 6px 10px rgb(183, 175, 175)

    }

    .text-para{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 1px;
    }
    .edition-para{
        margin-bottom: 1px;
    }
    .text-para2{
        color: rgb(0, 118, 0);
        font-size: 20px;
        font-weight: bold;
        margin-top:1px;
    }
    .text-para2:hover{
        opacity: 0.7;
    }
    .text-para3{
        color: rgb(0, 3, 0);
        font-size: 20px;
       
    }
    .buy-button{
        width: 100px;
        height: 30;
        background-color: rgb(255, 168, 28);
        border: none;
        border-radius: 50px;
        margin-left: 10px;
        cursor: pointer;
    }
    .buy-button:hover{
        opacity: 0.7;
    }
    .cart-button{
        width: 100px;
        height: 30;
        background-color: rgb(245, 216, 20);
        border: none;
        border-radius: 50px;
        margin-left: 10px;
        cursor: pointer;
    }
    .cart-button:hover{
        opacity: 0.7;
    }
    .space-about{
        background-color: blue;
        border: none;
        height: 90;
        width: 500px;
        font-weight: bold;
        color: white;
    }